// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/* Menu Dropdown */
#nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 5%;
}

/* @media (min-width: 100px) and (max-width: 576px) {
  #nav {
    grid-template-columns: 1fr;
  }
} */

.navBar{
  text-align: center;
  padding-left: 15%;
  color: #FFFF;
  text-decoration: none;
  font-family: 'Roboto ', monospace;

}



#nav :hover {
  color: rgb(179, 183, 183);
}

#para {
  /* font-family: 'Roboto Mono', monospace; */
}
#tittle {
  padding-left: 5%;
  margin: auto;
  margin-bottom: 3%;
  /* font-family: 'Roboto ', monospace; */

}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace; */

.home-text {
  padding: 5%;
  align-items: center;
}


.fotos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  /* grid-auto-rows: 1fr 20%; */
}

@media (min-width: 100px) and (max-width: 575px) {
  .fotos {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 576px) {
  .fotos {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) {
  .fotos {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .fotos {
    grid-template-columns:  1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .fotos {
    grid-template-columns: 1fr 1fr;
  }
}


.fOne > img {
  opacity: 1;
  width: 100%;
  height: auto;
}


.footer {
  display: grid;
  grid-template-columns:  2fr 2fr  ;
  gap: 10%;
  margin-top: 8%;
  margin-bottom: 5%;
  background-color: hwb(58 3% 27% / 0.982);
  padding-bottom: 5%;
}

.footer > .links {
  display: grid;
  margin-top: -1%;
  margin-left: 25%;
  /* padding: 2%;
  background-color: aquamarine; */
}
.fobar {
  text-decoration: none;
  color: #FFFF;
  /* font-family: 'Roboto ', monospace; */

}

.footer > .contacts {
  /* background-color: bisque; */
  margin-left: 15%;
  width: 100%;
  height: auto;
  justify-content: center;
  width: 100%;
  height: auto;
  color: #FFFF;
  display: grid;
}


.contacts h2 {
  /* text-decoration: underline; */
}

.contacts a {
  text-decoration: none;
  color: #FFFF;
  /* text-decoration: underline; */
}
a:hover {
  color: rgb(179, 183, 183);
}

.links > h2 {
  /* text-decoration: underline; */
  /* font-family: 'Roboto ', monospace; */
  color: #FFFF;

}
